body {
    text-align: center;
    font-family: monospace;
    background-color: white;
    color: grey;
}

#clock {
    font-size: 6rem;
    font-weight: bold;
}

.setField {
    width: 20px;
}

#msgSetAlert {
    margin-top: 10px;
    width: 100px;
}

#btn {
    margin-top: 10px;
    font-weight: bolder;
    width: 100px;
}

#alarm {
    margin-top: 20px;
    font-size: 2rem;
}

footer {
    margin-top: 30px;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover {
    color: red;
}